(
    name: "Saturn",
    root: 0,
    parts: [
        (
            catalog_id: "hyperion",
            params: r#None,
            resources: {
                Electricity: 4.0,
            },
        ),
        (
            catalog_id: "tank_methalox",
            params: Tank(
                diameter: 4.0,
                length: 4.0,
            ),
            resources: {
                Methane: 21563.893,
                Lox: 28701.592,
            },
        ),
        (
            catalog_id: "boreas",
            params: r#None,
            resources: {},
        ),
        (
            catalog_id: "decoupler_std",
            params: Decoupler(
                diameter: 4.0,
            ),
            resources: {},
        ),
        (
            catalog_id: "tank_methalox",
            params: Tank(
                diameter: 4.0,
                length: 8.0,
            ),
            resources: {
                Methane: 43127.785,
                Lox: 57403.184,
            },
        ),
        (
            catalog_id: "boreas",
            params: r#None,
            resources: {},
        ),
    ],
    connections: [
        (
            parent: 0,
            parent_node: "bottom",
            child: 1,
            child_node: "top",
        ),
        (
            parent: 3,
            parent_node: "bottom",
            child: 4,
            child_node: "top",
        ),
        (
            parent: 2,
            parent_node: "bottom",
            child: 3,
            child_node: "top",
        ),
        (
            parent: 1,
            parent_node: "bottom",
            child: 2,
            child_node: "top",
        ),
        (
            parent: 4,
            parent_node: "bottom",
            child: 5,
            child_node: "top",
        ),
    ],
    surface_mounts: [],
    layout: Some(Vertical),
)